.appointment-page{
  background: #FAF7F5;
}

.home-page{
  background: $light-gray;
}
.nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18.75rem;
  background-image: asset-url('header-semicircle.png');
  background-repeat: round !important;
  background-size: contain;
  text-align: center;

}
.nav-text-appointment{
  width:100%;
}
.nav-text-appointment h2{
  color:white !important;
  font-size: 1.5625rem !important;
  justify-content:center !important;
}
.nav-links{
  margin-left: 0.9375rem;
  margin-top: 0.9375rem;
}
.runner{
  font-size:3.125rem;
  justify-content:center;
  margin-top: 10%;
}

#navbarDropdown{
  padding-left: 0.3125rem;
  padding-top: 0.3125rem;
}

.home-banner {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.map{
  width: 90% !important;
  margin-left:5% !important;
  height: 19.625rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  left:0 !important;
  top: 20.1875rem !important;
}
.map-image{
  width:100%;
  height:100%;
  position:relative;
}
.avatar-for-map {
  position:absolute;
  bottom:0.625rem;
  right:0.625rem;

  width: 3.125rem !important;
  height: 3.125rem !important;
  border-radius: 3.125rem !important;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.phone{
  position:absolute;
  left:0.625rem;
  bottom:0.625rem;
  color:black;
}
.chat{
  position:absolute;
  left:3.125rem;
  bottom:0.625rem;
  color:black;
}
.need-help-btn{
  right:1.5625rem !important;
  bottom:-2% !important;
  position: absolute !important;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  float:right !important;
  color:black !important;
  background:  #FAF7F5 !important;
}
