h3 {
  width: max-content;
  margin-left: 15%;
}

.home-page{
  background: $light-gray;
}

.i-am-dr{
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-logo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(logo-test.png), url(header-semicircle.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 17.1875rem, 23.625rem;
  text-align: inherit;
  margin-top: 0rem, 3.75rem;
  background-position: top center, top center;
}

.nav-links{
  margin-left: 0.9375rem;
  margin-top: 0.9375rem;
}

i{
  padding-left: 0.3125rem;
  padding-top: 0.3125rem;
  color: $white;
}

.home-banner {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home-right{
  background-image: asset-url('cropped-dog.png');
  background-size: cover;
  background-position: center;
  width: 16.9375rem;
  margin-top: -0.0625rem;
}

.home-right .btn-pink{
  margin-top: 13.4375rem;
}

.home-left{
  background-image: asset-url('cropped.png');
  background-size: cover;
  background-position: center;
  width: 16.9375rem;
  margin-top: 8.5rem;
}

.home-actions {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.home-about {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about-text{
  text-align:justify !important;
  padding: 2.5rem !important;
  font-size: 0.75rem;
  font-family:Montserrat;
  font-weight:normal;
  width:100vw;
}

.buttons-bottom{
  display:flex;
  text-decoration: none;
}

.buttons-actions{
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  text-decoration:none;
}

#myBtn:hover {
  background-color: #555;
}

.buttons-form {
  display: flex;
  margin-top: 4.25rem;
}

.buttons-form-type {
  display: flex;
  margin-top: 8.75rem;
}

.buttons-form-time {
  display: flex;
  margin-top: 4.875rem;
}

.buttons-form-symptom {
  margin-top: 5rem;
}

.buttons-form-location {
  margin-top: 3.4375rem;
}

#appointment-modal {
  display: none;
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input-list {

}
.language-input {
  position: relative;
  input {
    position: absolute;
  }
}
