h3 {
  width: max-content;
  margin-left: 15%;
}

.home-page{
  background: $light-gray;
}
.nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-image: asset-url('header-semicircle.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;

}
.nav-links{
  margin-left: 15px;
  margin-top: 15px;
}

i{
  padding-left: 5px;
  padding-top: 5px;
  color: $white;
}

.home-banner {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home-right{
  background: url('https://s7d2.scene7.com/is/image/PetSmart/GN0314_LG_MENU-DogAndCat-20160818?$GN3014$');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.home-left{
  background: url('https://cdn5.vectorstock.com/i/1000x1000/75/94/set-of-sick-people-cartoon-style-vector-9787594.jpg');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.home-actions {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-about {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about-text{
  text-align:justify !important;
  padding: 40px !important;
  font-size: 12px;
  font-family:Montserrat;
  font-weight:normal;
  width:100vw;
}

.buttons-bottom{
  display:flex;
}

.buttons-actions{
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}

