
h3{
  position: absolute;
  width: 187px;
  height: 87px;
  left: 94px;
  top: 129px;
  font:Montserrat;
  font-size: 18px;
  font-weight: normal;
}

h1{
  position: absolute;
  width: 187px;
  height: 91px;
  left: 94px;
  top: 46px;
  font:Anaheim;
  font-size: 40px;
}

