
.vet-container{
  background-color: $dark-blue;
  height:100vh;
  width:100vw;

}
.homepage-btn{
  left:6.875rem !important;
  top:1.5625rem !important;
  position: relative !important;
  background: rgba(38, 79, 115, 0.95);
  width: auto !important;
  color:white !important;
  margin-bottom:0rem !important;
}
.refresh-btn{
  right:6.875rem !important;
  bottom:2% !important;
  position: relative !important;
  background: rgba(38, 79, 115, 0.95);
  width: auto !important;
  color:white !important;
  margin-bottom:0rem !important;

}

.doctor-profile-card{
  background-color: $light-gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

}

.doctor-profile-card h3{
  color:black !important;
  padding-bottom:0.625rem;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-inline-start: 0em !important;
}

.doctor-picture {
  width: 5.3125rem;
  height: 5.3125rem;
  margin-top: 0;
  border-radius: 5.3125rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}


.profile-card-info{
  box-shadow:0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background: #FAF7F5;
  border-radius: 0.125rem;
  height:13.4375rem;
  margin: 1.5625rem;
  padding:0.625rem;
  width:85%;
}
.more-info-btn{
  left: 0rem;
  background: #FAF7F5;
  color:black !important;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
.profile-card-info h2{
  padding: 0.625rem !important;
}


.arrows{
  display: flex;
  margin-top: 75%;
  justify-content: space-between;
  font-size: 2.5rem;
}
.arrowleft{
  font-size:2.5rem;
}
.arrowright{
  font-size:2.5rem;
}


button,
input,
code {
    display: inline-block; outline: none; font: inherit; border: none; background: #FDE991; padding: 0;
}

button {
    color: #C7433E; cursor: pointer;
}

input {
    width: 3.125rem;
}

#viewport {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-blue; margin: auto 0; position: relative;
}

#viewport .stack {
    width: 90vw;
    max-width: 100vw;
    height: 85vh;
    max-height: 100vh;
    background: #ED5D52;
    border-radius: 0.625rem;
    position: relative;
}

#viewport li {
    width: 100%;
    height: 100%;
    list-style: none; background: $dark-blue; border-radius: 0.3125rem; position: absolute; top: 0; left: 0; box-shadow: 0 0 0.125rem rgba(0,0,0,.2), 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,.2); line-height: 18.75rem; border: 0.625rem solid #ECECEC; box-sizing: border-box; cursor: default;
    padding-top:30%;
    padding-left:5%;
    padding-right:5%;
}


#viewport li.in-deck:nth-child(3) {
    top: 0.125rem; transform: translate(0.125rem, 0.125rem) rotate(0.4deg);
}

#viewport li.in-deck:nth-child(2) {
    top:0.25rem; transform: translate(-0.25rem, -0.125rem) rotate(-1deg);
}

