<div class="title">
  <h2>Which one of your pet needs an appointment?</h2>
</div>

<div class="cards">
  <div class="dog-card">
    <img src='https://images.unsplash.com/photo-1499789853431-fcbf274f57b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' class="avatar-large" />
    <div class="dog-card-content">
      <p><small>FIGARO<small></p>
      <p>Type ----- Dog</p>
      <p>Breed --- Labrador</p>
    </div>
    <div class="dog-card-actions">
      <a href="#"><i class="fas fa-pencil-alt"></i></a>
      <a href="#"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="dog-card">
    <img src='https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' class="avatar-large" />
    <div class="dog-card-content">
      <p><small>BERLIOZ<small></p>
      <p>Type ----- Cat</p>
      <p>Breed --- Siamois</p>
    </div>
    <div class="dog-card-actions">
      <a href="#"><i class="fas fa-pencil-alt"></i></a>
      <a href="#"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="dog-card">
    <img src='https://images.unsplash.com/photo-1567201080580-bfcc97dae346?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80' class="avatar-large" />
    <div class="dog-card-content">
      <p><small>MUDDY THE 1ST<small></p>
      <p>Type ----- Pig</p>
      <p>Breed --- Mulefoot</p>
    </div>
    <div class="dog-card-actions">
      <a href="#"><i class="fas fa-pencil-alt"></i></a>
      <a href="#"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>

<div class= buttons-display>
  <button class="btn-cancel">CANCEL</button>
  <button class="btn-register">REGISTER A NEW DOG</button>
</div>
