<div class="container-fluid">



    <div class="col-sm-6 col-resume">
      <div class="resume-text">
        <h2><%= @client.user.first_name %></h2>
        <p>Email: <%= @client.user.email %> </p>
        <p>Address: <%= @client.address %></p>
        <p>Languages: <%= @client.languages %></p>
      </div>
      <div class="resume-avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar">
      </div>
    </div>
  </div>
