<div id="location-form" class="wrapper-choice" style="display: none;">
    <div class="wrapper-title">
      <p>WHERE ARE YOU?</p>
    </div>
    <div class="wrapper-choice">
      <input id="location1" type="checkbox" checked>
      <label for="location1">ALLOW LOCALISATION</label>
      <input id="location2" type="checkbox">
      <label for="location2">ENTER YOUR ADDRES</label>
    </div>

  <div class="buttons-form">
    <div class="bottom-left buttons-actions">
      <button class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>
