<div id="geolocation-form" style="display: none;">
  <div class="animated slideInRight mt-4">
    <div class="wrapper-title wrapper-title-location">
      <p>WHERE ARE YOU?</p>
    </div>
    <div class="location-choice">
        <label for="location" id="location">ALLOW LOCALISATION</label>
        <input type="text" name="location" id="location">
        <input type="hidden" name="Longitude" id="Longitude">
        <input type="hidden" name="Latitude" id="Latitude">
        <p>------------------------ or ------------------------</p>
        <div class="location-address">
          <label for="location2">ENTER YOUR ADDRES</label>
          <input id="location2" type="checkbox"></input>
        </div>
      <%= javascript_pack_tag 'geolocation' %>
    </div>
  </div>
  <div class="buttons-form buttons-form-location">
    <div class="bottom-left buttons-actions">
      <button type="button" class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button type="button" id="geolocation-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>
