<div class="wrapper-choice" id="language-form" style="display: none;">
      <input id="language1" type="checkbox" checked>
      <label for="language1">ENGLISH</label>
      <input id="language2" type="checkbox">
      <label for="language2">FRENCH</label>
      <input id="language3" type="checkbox">
      <label for="language3">SPANISH</label>
      <input id="language4" type="checkbox">
      <label for="language4">ITALIAN</label>
      <input id="language5" type="checkbox">
      <label for="language5">ARABIC</label>
      <input id="language6" type="checkbox">
      <label for="language6">CHINESE</label>
  <div class="buttons-form">
    <div class="bottom-left buttons-actions">
      <button class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button id="language-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>
