<div class="wrapper-choice languages-form" id="language-form" style="display: none;">
  <div class="wrapper-title">
    <p>WHICH LANGUAGE DO YOU SPEAK?</p>
  </div>
      <input id="language1" type="checkbox" name="english">
      <label for="language1">ENGLISH</label>
      <input id="language2" type="checkbox" name="french">
      <label for="language2">FRENCH</label>
      <input id="language3" type="checkbox" name="spanish">
      <label for="language3">SPANISH</label>
      <input id="language4" type="checkbox" name="italian">
      <label for="language4">ITALIAN</label>
      <input id="language5" type="checkbox" name="german">
      <label for="language5">GERMAN</label>
      <input id="language6" type="checkbox" name="chinese">
      <label for="language6">CHINESE</label>
  <div class="buttons-form">
    <div class="bottom-left buttons-actions">
      <button class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button type="button" id="language-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>

