<div class="wrapper-choice languages-form" id="language-form" style="display: none;">
  <div class="wrapper-title">
    <p>WHICH LANGUAGE DO YOU SPEAK?</p>
  </div>
  <div class="container">
    <div class="input-list row">
    <div class="language-input   display:
col-6">
      <input id="language1" type="checkbox" name="english" checked>
      <label for="language1">ENGLISH</label>
    </div>
    <div class="language-input   display:
col-6">
      <input id="language2" type="checkbox" name="french">
      <label for="language2">FRENCH</label>
    </div>
    <div class="language-input   display:
col-6">
      <input id="language3" type="checkbox" name="spanish">
      <label for="language3">SPANISH</label>
    </div>
    <div class="language-input   display:
col-6">
      <input id="language4" type="checkbox" name="italian">
      <label for="language4">ITALIAN</label>
    </div>
    <div class="language-input   display:
col-6">
      <input id="language5" type="checkbox" name="german">
      <label for="language5">GERMAN</label>
    </div>
    <div class="language-input   display:
col-6">
      <input id="language6" type="checkbox" name="chinese">
      <label for="language6">CHINESE</label>
    </div>
  </div>
  </div>
  <div class="buttons-form row">
    <div class="bottom-left buttons-actions   display:
col-6">
      <button type="button" class="btn-pink-small"  id="language-previous" >GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions   display:
col-6">
      <button type="button" id="language-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>

