<div id="symptom-form" style="display: none;">
  <div class="animated slideInRight mt-4">
    <div class="symptom-input">
      <input type="text" name="symptom" id="symptom" placeholder="(OPTIONAL) MORE DETAIL...">
    </div>
  </div>

  <div class="buttons-form buttons-form-symptom">
    <div class="bottom-left buttons-actions">
      <button type="button" id="symptom-previous" class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button class="btn-pink-small" type="submit" name="submit">NEXT</button>
    </div>
  </div>
</div>
