<div id="time-form" style="display: none;">
  <div class="animated slideInRight">

    <div class="wrapper-title">
      <p>WHEN DO YOU NEED IT?...</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="time-now col-12">
          <input id="time1" type="checkbox">
          <label for="time1">AS SOON AS POSSIBLE</label>
        </div>
      </div>
        <p>------------------------ or ------------------------</p>
      <div class="row">
        <div class="datetime-input col-6">
          <label for="time2" id="time2-label">DD/MM</label>
          <input  id="time2" type="text" class="datepicker" name="usr_date">
        </div>
        <div class="datetime-input col-6">
          <label for="time3" id="time3-label">HH:MM</label>
          <input id="time3" type="text" class="timepicker" name="usr_time" >
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-form-time row">
    <div class="bottom-left buttons-actions col-6">
      <button type="button" id= "time-previous" class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions col-6">
      <button type="button" id="time-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>


<!--// FORM LOCATION + DATE AND TIME

<form action="/vets" method="get">
  <label for="location">Location</label>
  <input type="text" name="location" id="location" placeholder="Click to see current address"></input>
  <input type="hidden" name="Longitude" id="Longitude">
  <input type="hidden" name="Latitude" id="Latitude">

  <label for="Date">Date of the appointment</label>
  <input type="date" name="usr_date">
  <label for="">Hour of the appointment</label>
  <input type="time" name="usr_time">
  <input type="submit" value="Submit">
</form>

<%= javascript_pack_tag 'geolocation' %>  //-->
