<div id="time-form" style="display: none;">
  <div class="animated slideInRight">
    <div class="wrapper-title">
      <p>WHEN DO YOU NEED IT?...</p>
    </div>
    <div class="time-choice">
      <input id="time1" type="checkbox" checked>
      <label for="time1">AS SOON AS POSSIBLE</label>
      <p>------------------------ or ------------------------</p>
      <input class="btn-bordered" id="time2" type="checkbox">
      <label for="time2">DD/MM         HH:MM</label>
    </div>
  </div>
  <div class="buttons-form-time mt-4">
    <div class="bottom-left buttons-actions">
      <button class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions">
      <button class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>

