<div id="type-form" style="display: none;">
  <div class="animated slideInRight">
    <div class="wrapper-title wrapper-title-type">
      <p>SELECT AN APPOINTMENT TYPE...</p>
    </div>
    <div class="type-choice">
      <input id="type1" type="checkbox">
      <label for="type1">MY PET IS SICK</label>
      <input id="type2" type="checkbox">
      <label for="type2">EXAM OR VACCINES</label>
    </div>
    <div class="buttons-form-type">
      <div class="bottom-left buttons-actions mb-4">
        <button class="btn-pink-small">GO BACK</button>
      </div>
      <div class="bottom-right buttons-actions">
        <button id="type-next" class="btn-pink-small">NEXT</button>
      </div>
    </div>
  </div>
</div>
