<div id="type-form" style="display: none;" class="container">
  <div class="animated slideInRight">
    <div class="wrapper-title wrapper-title-type">
      <p>SELECT AN APPOINTMENT TYPE...</p>
    </div>
    <div class="type-choice row">
      <div class="col-6">
        <input id="type1" type="checkbox">
        <label for="type1">MY PET IS SICK</label>
      </div>
      <div class="col-6">
        <input id="type2" type="checkbox">
        <label for="type2">EXAM OR VACCINES</label>
      </div>
    </div>
  </div>
  <div class="buttons-form-type row">
    <div class="bottom-left buttons-actions   display:
col-6">
      <button type="button" id="type-previous" class="btn-pink-small">GO BACK</button>
    </div>
    <div class="bottom-right buttons-actions   display:
col-6">
      <button type="button" id="type-next" class="btn-pink-small">NEXT</button>
    </div>
  </div>
</div>
