<div class="appointment-page">
  <div class="nav">
    <li class="nav-links dropdown">
      <a  class= 'dropdown-trigger btn' href="#!" data-target='dropdown1' id='navbarDropdown' data-toggle='dropdown'><i class="material-icons">menu</i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "See Profile", '#', class: "dropdown-item" %>
        <%= link_to "My Appointments", "#", class: "dropdown-item" %>
        <%= link_to "Log out","#", class: "dropdown-item" %>
      </div>
    </li>
    <div class="nav-text">
      <h2><%= doctor%> IS ON HIS WAY</h2>
      <i class="material-icons">directions_run</i>
    </div>
  </div>


<!-- INSERT MAP HERE -->

<!-- INSERT THE NEED HELP BUTTON -->
  <!-- <div class="button name">
    NEED HELP
  </div -->
</div>
