<!--// FORM LANGUAGES //-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Complete the form so that we can find the best matched doctor for you...</h3>
    </div>
  </div>
  <div class="row-blue">
    <div class="wrapper-title">
      <p>WHICH LANGUAGE DO YOU SPEAK?</p>
    </div>
    <div class="wrapper-choice">
      <input id="language1" type="checkbox" checked>
      <label for="language1">ENGLISH</label>
      <input id="language2" type="checkbox">
      <label for="language2">FRENCH</label>
      <input id="language3" type="checkbox">
      <label for="language3">SPANISH</label>
      <input id="language4" type="checkbox">
      <label for="language4">ITALIAN</label>
      <input id="language5" type="checkbox">
      <label for="language5">ARABIC</label>
      <input id="language6" type="checkbox">
      <label for="language6">CHINESE</label>
    </div>
  </div>
</div>
