<div class="home-banner">
  <div class="nav">
    <i class="material-icons">menu</i>

    <div class="nav-text">
      <h1>GOGET</h1>
      <h3>Primary Care
        <br>
        At your home
        <br>
        In your language
      </h3>
    </div>
  </div>
  <div class="home-left home-actions">
    <button class="home-button">I NEED
      <br>
    A DOCTOR</button>
  </div>
  <div class="home-right home-actions">
    <button class="home-button">I NEED
      <br>
    A VET</button>
  </div>
  <button class="doctor-button">I AM A DOCTOR</button>
</div>

<!-- <div class="home-about">
  <p class=about-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <div class="bottom-left btn-actions">
    <button class="home-bottom-buttons">
      BACK ON TOP
    </button>
  </div>
  <div class="bottom-right btn-actions">
    <button class="home-bottom-buttons">
    CREATE ACCOUNT
    </button>
  </div>
</div> -->






