<div class="dog-card">
  <img src='https://images.unsplash.com/photo-1499789853431-fcbf274f57b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80' class="avatar-large" />
  <div class="dog-card-content">
    <p><small>FIGARO<small></p>
    <p>Type: Dog</p>
    <p>Breed: Labrador</p>
    <p>History: All vaccines cleared</p>
  </div>

  <div class="dog-card-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
