.btn-pink{
  position: absolute;
  background: $pink;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color:$light-gray;
  text-align:center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  margin-top:335px;
  width: 135px;
  height: 90px;
}

.btn-pink:hover {
  background-color: $dark-blue;
}

.btn-transparent{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
  font-size: 12px;
  font:Montserrat;
  background-color: $white;
  font-style: normal;
  font-weight: normal;
  line-height:15px;
  align-items:center;
  display:flex;
  width:auto;
  height:auto;
  padding:10px;
  margin-left:35%;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-transparent:hover {
  background-color: $dark-blue;
}

.btn-bottom {
  position: absolute;
  height: 100px;
  text-align: center;
  font-size: 12px;
  font:Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height:15px;
  align-items:center;
  display:flex;
  width:25%;
  height:auto;
  padding:20px;
  width:auto;
  background: $light-gray;
  mix-blend-mode: normal;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-register{
  background: $pink;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color:$light-gray;
  text-align:center;
  font-size: 12px;
  padding: 13px 15px;
  margin-left: 22%;
  position: fixed;
  bottom: 40px;
  right: 18px;
}

.btn-register:hover {
  background-color: $dark-blue;
}

.btn-cancel{
  text-align: center;
  font-size: 12px;
  background-color: $light-gray;
  align-items:center;
  display:flex;
  padding: 13px 15px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 70%;
  position: fixed;
  bottom: 40px;
  left: 18px;
}

.btn-cancel:hover {
  background-color: $dark-blue;
  color: $white;
}
