.btn-pink{
  position: absolute;
  background: $pink;
  border-radius: 1.5625rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  color:$light-gray;
  text-align:center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin-top:5rem;
  width: 8.4375rem;
  height: 5.625rem;
  border: none;
}

.btn-pink:hover {
  background-color: $dark-blue;
}

.btn-transparent {
  position: absolute;
  height: 6.25rem;
  text-align: center;
  font-size: 0.75rem;
  font: Montserrat;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  line-height: 0.9375rem;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  width: auto;
  height: auto;
  padding: 0.8125rem;
  margin-left: 35%;
  margin-bottom: 2.5rem;
  border: none;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  color: $light-gray;
  border: solid 0.0625rem $light-gray;
}

.btn-transparent:hover {
  background-color: $dark-blue;
}

.btn-bottom {
  position: absolute;
  height: 6.25rem;
  text-align: center;
  font-size: 0.75rem;
  font:Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height:0.9375rem;
  align-items:center;
  display:flex;
  width:25%;
  height:auto;
  padding:0.8125rem;
  width:auto;
  background: $light-gray;
  border: solid 0.0625rem $black;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.btn-bottom:hover {
  background-color: $dark-blue;
  color: $light-gray;
}

.btn-register{
  background: $pink;
  border-radius: 1.5625rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  color:$light-gray;
  text-align:center;
  font-size: 0.75rem;
  padding: 0.8125rem 0.9375rem;
  margin-left: 22%;
  position: fixed;
  bottom: 2.5rem;
  right: 1.125rem;
}

.btn-register:hover {
  background-color: $dark-blue;
}

.btn-cancel{
  text-align: center;
  font-size: 0.75rem;
  background-color: $light-gray;
  align-items:center;
  display:flex;
  padding: 0.8125rem 0.9375rem;
  border: none;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-right: 70%;
  position: fixed;
  bottom: 2.5rem;
  left: 1.125rem;
}

.btn-cancel:hover {
  background-color: $dark-blue;
  color: $white;
}

.btn-pink-small{
  position: absolute;
  background: #FB9F88;
  border-radius: 1.5625rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  color: $white;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 5rem;
  width: 9.1875rem;
  height: 2.1875rem;
  border: none;
}

.btn-pink-small:hover {
  background-color: $dark-blue;
}

.btn-bordered {
  background-color: transparent;
  border-style: solid 0.0625rem $light-gray;
  color: $light-gray;
}
.buttons-form-type{
  margin-top:5.625rem;
}
.btn-transparent-skip {
    text-align: center;
    font-size: 0.75rem;
    font: Montserrat;
    background-color: transparent;
    line-height: 0.9375rem;
    display: -webkit-box;
    padding: 0.625rem 1.25rem;
    border: none;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.6);
    color: #FAF7F5;
    float: right;
    margin: 0rem 1.25rem 0rem 0rem;
}
