// .nav-logo {
//   display: none;
// }

.selects-container{
  flex-grow: 1;
  justify-content: center;
}
.select-wrapper{
  margin-right:70px;
}

.container-form {
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 10%;
  position: absolute;
  width: -webkit-fill-available;
  top: 40%;
 }

.row-text {
  padding: 3.1875rem 1.875rem;
  color: $black;
  text-align: left;
}

.row-text h3{
  color: #000000;
  margin: 0.3125rem;
  margin-top: 0rem;
  font-size: 1.3125rem;
  line-height: 1.75rem;
 }

.row-blue {
  height: 24.125rem;
  background-color: $dark-blue;
 }

.wrapper-title {
  text-align: left;
  margin-left: 1.625rem;
 }

 .wrapper-title p {
  color: $white;
  margin-top: 1.25rem;
  text-align: left;
 }

 .wrapper-choice {
   padding: 0.625rem;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .wrapper-title-type{
  padding-top: 0.625rem;
 }

.type-choice {
  margin-top: 1.875rem;
}

.type-choice label{
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  white-space: pre-line;
  line-height: 1.0625rem;
  margin-top: 4.375rem;
}

.wrapper-title-time{
  padding-top: 0.625rem;
}

.time-now {
  display: flex;
}

.time-now label{
  width: 100%;
}

p {
  color: #FAF7F5;
  text-align: center;
  font-size: 0.8125rem;
  margin: 1.25rem 1.25rem;
}

.time-choose {
  display: flex;
}

.time-choose label {
  width: 30vw;
  background-color: transparent;
  border: solid 0.0625rem white;
  color: white;
}

.wrapper-title-location{
  padding: 0.625rem;
}

.location-choice{
  display:flex;
  margin-bottom: 4.125rem;
}

.location-choice label {
  width: 90%;
  line-height: 1.25rem;
}

.location-choice p {
  color: #FAF7F5;
  text-align: center;
  font-size: 0.8125rem;
  margin: 1.25rem 1.25rem;
  width:100%;
}

.location-address label{
  background-color: transparent;
  border: solid 0.0625rem white;
  color: white;
}

.symptom-input{
  height: 21.875rem;
}

.symptom-input input{
  width: -webkit-fill-available;
  height: 14.0625rem;
  border: solid 0.0625rem white;
  background-color: transparent;
  color: white;
  margin-top: 21%;
  text-align: left;
  line-height: 1.0625rem;
  border-bottom: 0rem solid transparent;
}

#symptom{
  border-radius: 1.5625rem;
  height: 15.625rem;
  width: 18.75rem;
  padding: 0.625rem;
  margin-top: 2.6875rem;
  margin-left:10%;
  border: solid 0.625rem white !important;
  color: white;
  text-align: left;
  line-height: 1.0625rem;
}

input {
  position: absolute !important;
  left: -624.9375rem;
}

label {
  width: 9.125rem;
  margin: 1.25rem 0;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  color: #000000;
  background-color: #FAF7F5;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
}

label:hover, input:focus + label {
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, .6);
}

input:checked + label {
  background-color: $pink;
  color: $white;
}

.modal-overlay {
  background: none;
}

.datepicker-modal {
  height: auto;
  top: 0 !important;
  font-family: montserrat;
}
.datepicker{
  border-bottom:none !important;
}

.datepicker-date-display {
  background-color: $pink;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: $pink;
}

.datepicker-table td.is-today {
  background-color:$pink;
  color: white;
}

.timepicker{
  border-bottom:none !important;
}
.timepicker-modal {
  height: auto;
  top: 0 !important;
}
.timepicker-digital-display{
  padding:1.9375rem !important;
  background-color:$pink;
}
.text-primary {
  color: $white !important;
}

.timepicker-text-container{
  font-size:2rem !important;
}
.btn-flat{
  color:$pink;
}

.timepicker-display-column{
  bottom:0rem !important;
}

#time3 {
  text-align: center;
  height: 100%;
  &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none;
  }
}
#time2 {
  text-align: center;
  height: 100%;
  &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none;
  }
}
