.container-form {
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 10%;
  position: absolute;
  width: -webkit-fill-available;
  top: 40%;
 }

.row-text {
  padding: 67px 30px;
  color: $black;
  text-align: left;
}

.row-text h3{
  color: #000000;
  margin: 5px;
  margin-top: 0px;
  font-size: 21px;
  line-height: 28px;
 }

.row-blue {
  width: 375px;
  height: 386px;
  background-color: $dark-blue;
 }

.wrapper-title {
  text-align: left;
  margin-left: 26px;
 }

 .wrapper-title p {
  color: $white;
  margin-top: 20px;
  text-align: left;
 }

 .wrapper-choice {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .wrapper-title-type{
  padding-top: 10px;
 }

.type-choice {
  margin-top: 30px;
}

.type-choice label{
  padding: 30px 30px 30px 30px;
  white-space: pre-line;
  line-height: 17px;
  margin-top: 70px;
}

.wrapper-title-time{
  padding-top: 10px;
}

.time-now {
  display: flex;
}

.time-now label{
  width: 100%;
}

p {
  color: #FAF7F5;
  text-align: center;
  font-size: 13px;
  margin: 20px 20px;
}

.time-choose {
  display: flex;
}

.time-choose label {
  width: 30vw;
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

.wrapper-title-location{
  padding: 10px;
}

.location-choice{
  display:flex;
  margin-bottom: 66px;
}

.location-choice label {
  width: 90%;
  line-height: 20px;
}

.location-choice p {
  color: #FAF7F5;
  text-align: center;
  font-size: 13px;
  margin: 20px 20px;
  padding-left: 50px;
}

.location-address label{
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

.symptom-input{
  height: 350px;
}

.symptom-input input{
  width: -webkit-fill-available;
  height: 225px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  margin-top: 21%;
  text-align: left;
  line-height: 17px;
  border-bottom: 0px solid transparent;
}

#symptom{
  border-radius: 25px;
  height: 250px;
  width: 300px;
  padding: 10px;
  margin: 43px 0 0 24px;
  border: solid 1px white;
  color: white;
  text-align: left;
  line-height: 17px;
}

input {
  position: absolute !important;
  left: -9999px;
}

label {
  width: 130px;
  margin: 20px 0;
  padding: 20px 30px 20px 30px;
  color: #000000;
  background-color: #FAF7F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

label:hover, input:focus + label {
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

input:checked + label {
  background-color: $pink;
  color: $white;
}
.datepicker-modal {
  height: auto;
  top: 0 !important;
}
.datepicker{
  border-bottom:none !important;
}
.timepicker{
  border-bottom:none !important;
}
.timepicker-modal {
  height: auto;
  top: 0 !important;
}
.timepicker-digital-display{
  padding:15px !important;
}
.timepicker-text-container{
  font-size:2rem !important;
}
.timepicker-display-column{
  bottom:0rem !important;
}
.datetime-input {
  // position: relative;
}
#time3 {
  text-align: center;
  height: 100%;
  &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none;
  }
}
#time2 {
  text-align: center;
  height: 100%;
  &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none;
  }
}
