<div id="pet-index" style="display: none;">
  <div class="title">
    <h2>Which pet needs the appointment?</h2>
  </div>
  <% @pets.each do |pet| %>
    <div class="cards">
      <div class="dog-card">
        <img src= '<%=pet.picture%>'class="avatar-large" />
        <div class="dog-card-content">
          <p><small><%= pet.name %><small></p>
          <p><%= pet.pets_type %></p>
        </div>
        <div class="dog-card-actions">
          <a href="#"><i class="fas fa-pencil-alt"></i></a>
          <a href="#"><i class="far fa-trash-alt"></i></a>
        </div>
      </div>
  <%end%>

  <div class= buttons-display>
    <button type="button"class="btn-cancel"><%=link_to "CANCEL", root_path %></button>
    <button class="btn-register">NEXT</button>
  </div>
</div>
